<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSHLogViewer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SSHLogViewer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SSHLogViewer.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="JBossTerminate" serializeAs="String">
                <value>D:\Server\wildfly-8.1.0.Final2\bin\jboss-cli.bat</value>
            </setting>
            <setting name="JBossTerminateArguments" serializeAs="String">
                <value>--connect command=:shutdown</value>
            </setting>
            <setting name="Connections" serializeAs="String">
                <value />
            </setting>
            <setting name="JBossCommandArguments" serializeAs="String">
                <value>--login -i -c "tail -f -n500 /D/Server/wildfly-8.1.0.Final2/standalone/log/server.log"</value>
            </setting>
            <setting name="JBossCommand" serializeAs="String">
                <value>C:\Program Files (x86)\Git\bin\sh.exe</value>
            </setting>
        </SSHLogViewer.Settings>
        <SSHLogViewer.Settings1>
            <setting name="Connections" serializeAs="String">
                <value />
            </setting>
        </SSHLogViewer.Settings1>
    </userSettings>
</configuration>